/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dimensione dei vari container */
.container{
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    background-color: blanchedalmond;
}


/* HEADER */
.header-nav{
    height: 70px;
    background-color: #f76e10;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.division, .logo, .icons{
    width: calc(100% / 3);
    
    /* DEBUG */
    height: 50px;
    background-color: aqua;
    border: 1PX dotted black;
}


/* MAIN */
main section{
    margin-top: 40px;
}

.flex-container-card{
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    margin-bottom: 20px;

    /* DEBUG */
    height: 500px;
    background-color: grey;
}


/* FOOTER */
.info-footer{
    background-color: #1a1a1a;

    /* DEBUG */
    height: 80px;
}

.info-footer>div{
    margin: 0 auto;

    /* debug */
    height: 50px;
    background-color: #f76e10;
}

.info, .social{
    width: 50%;
    /* DEBUG */
    height: 30px;
    background-color: aqua;
    border: 1px dotted black;
}