/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* dimensione dei vari container */
.container{
    width: 80%;
    margin: 0 auto;

    /* DEBUG */
    height: 100%;
    background-color: blanchedalmond;
}


/* HEADER */
.header-nav{
    height: 70px;
    background-color: #f76e10;
}

.flex-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.division, .logo, .icons{
    width: calc(100% / 3);
    
    /* DEBUG */
    height: 50px;
    background-color: aqua;
    border: 1PX dotted black;
}


/* MAIN */
main section{
    margin-top: 40px;
}

.wrap-card{
    flex-wrap: wrap;
}

.card{
    width: 30%;
    margin-bottom: 20px;

    /* DEBUG */
    height: 500px;
    background-color: grey;

}


/* FOOTER */
